#anchortag{
    text-decoration:none;
    color: #000000bf;
}





.QnA{
   
    list-style-type:none;
    margin: 3% 2%;
    border: 1px solid rgba(0,0,0,.125);
    width: 65rem;
    background-color: #1DA1F2;
    color: white;
    border-radius: 20px;
    font-weight:500;
   
    
}
.Ques{
    font-size: 2rem;
    margin: 1% 1%;
    color: #1d1d1da6;
    cursor: pointer;
}

.card{
    width: 65rem;
    
}
.card-body{
    height: 7rem;
    font-size: 1.1rem;


}
#textButton{
    color: lightskyblue;
    cursor: pointer;


}
.my-card-header{
    margin: 1% 1%;
    height: 1rem;
}
.short_desc{
    font-size: 0.75rem;
}