{% load static %}

<link href="{% static 'health360/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'health360/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'health360/css/color.css' %}" rel="stylesheet">
<link href="{% static 'health360/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'health360/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'health360/css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'health360/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'health360/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link rel="icon"href="{% static 'health360/images/ourlogo.png' %}" />