#ul_li{
    border: 1px solid rgb(195 195 195);
    margin: 1rem;
    border-radius: 0.7rem;
    overflow:hidden;
    padding: 1rem;
    font-weight: bold;
    width: 46%;
}

li{
    font-weight: bold;
    font-size: large;
    color: black;
}

#li_btn{
    background-color: #10847e;
    color: white;
    font-weight: bold;
    font-size: medium;
    border-block: none;
    width: 14rem;
    height: 4rem;
    border-radius: 12px;
    padding: 9px 0 9px 0;
    margin-left: 54rem;
}

